@model HelloQuery.Models.LessonViewModel

<div>
    @Html.Raw(@Model.SelectedLesson.Question);

    <p> @Html.Raw(@Model.SelectedLesson.Answer)</p>

    <div class="description-block">
        <p> @Html.Raw(@Model.SelectedLesson.Reference)</p>
    </div>
</div>
