@model HelloQuery.Models.LessonViewModel

<body>
    <div>
        <!--タイトル-->
        <div class="Title-block">
            <h1>― @Model.SelectedLesson.Title ―</h1>
        </div><hr />
        
        <!--説明-->
        <div class="description-block1">
            <p>@Html.Raw(Model.SelectedLesson.Description)</p>
        </div><hr />
    
        <!--問題文-->
        <div class="description-block2">
			<b>＜ 問題 ＞</b> @Html.Raw(@Model.SelectedLesson.Question)
		</div>

        <!--ヒント-->
        <div class="Hint-block">
			<b>＜ヒント＞</b> @Html.Raw(@Model.SelectedLesson.Hint)
        </div>
    </div>

<!-- 解答するボタンのフォーム -->
    <form method="post" asp-controller="Lessons" asp-action="Answer">
    <textarea name="answer" placeholder="解答を入力してください&#10;(例) SELECT * FROM books" rows="3" style="width: 100%;"></textarea>
        <input type="hidden" name="lessonId" value="@Model.SelectedLesson.LessonId" />
        <div class="button-group">
            <input type="submit" value="解答する" class="btn btn--cubic">
    </form>
    <form method="post" asp-controller="Lessons" asp-action="GiveUp">
        <input type="hidden" id="selected-lesson-id" name="lessonId" value=@Model.SelectedLesson.LessonId />
        <input type="submit" value="あきらめる" class="btn btn--cubic">
    </div>
    </form>

    <br />

</body>

<style>
    /*タイトルの大きさ*/
    h1{
        font-size:44px;
        text-align:left;
        transform: skewX(-15deg);
        line-height: 2.0;
    }

    .description-block1, .description-block2, .Hint-block {
        font-size: 22px;
    }

    /*文章関連*/
    p{
        font-size: 22px;
        line-height: 1.7;
    }

    b{
        font-size: 25px;
    }

    .Title-block {
        line-height: 12.0;
        position: relative;
        align-items: center;
    }

    .description-block1 {
        position: relative;
        align-items: center;
        letter-spacing: 0;
        line-height: 1.5;
    }

    .box.description-block1 code {
        font-family: 'Courier New', Courier, monospace;
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 2px 4px;
    }

    .description-block2 {
        position: relative;
        align-items: center;
        line-height: 1.4;
    }

    .Hint-block {
        line-height: 1.5;
        position: relative;
    }

    /* 解答box */
    input[type="text"], textarea {
        width: 70%;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 20px;
        font-family: MS ゴシック;
    }

    /*ボタン*/
    .button-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .btn {
        font-size:22px;
        width: 13rem;
        height: 2.7rem;
    }
</style>