@model HelloQuery.Models.LessonViewModel

<body>
    <div>
        <!--タイトル-->
        <div class="Title-block">
            <h1>@Model.SelectedLesson.Title</h1>
        </div>
        
        <!--説明-->
        <div class="description-block1">
            @Html.Raw(Model.SelectedLesson.Description)
        </div>
    
        <!--問題文-->
        <div class="description-block2">
            @Html.Raw(@Model.SelectedLesson.Question)
        </div>

        <!--ヒント-->
        <div class="Hint-block">
            @Html.Raw(@Model.SelectedLesson.Hint)
        </div>
    </div>

    <br />

    <!-- 回答するボタンのフォーム -->
    <form method="post" asp-controller="Lessons" asp-action="Answer">
        <textarea name="answer" placeholder="回答を入力してください&#10;(例) SELECT * FROM books" rows="3" style="width: 100%;"></textarea>
        <input type="hidden" name="lessonId" value="@Model.SelectedLesson.LessonId" />
        <div class="button-group">
            <input type="submit" value="回答する" class="answer-button">
    </form>
    <form method="post" asp-controller="Lessons" asp-action="GiveUp">
        <input type="hidden" id="selected-lesson-id" name="lessonId" value=@Model.SelectedLesson.LessonId />
        <input type="submit" value="あきらめる" class="giveup-button">
    </form>
        </div>
</body>

<style>
    /*タイトルの大きさ*/
    h1{
        font-size:40px;
        text-align:center;
    }
    /*文字の大きさ*/
    p{
        font-size: 16px;
        line-height: 1.0;
    }

    .Title-block {
        line-height: 12.0;
        position: relative;
        align-items: center;
    }

    .description-block1 {
        position: relative;
        align-items: center;
        letter-spacing: 0;
        line-height: 1.0;
        border: 2px solid #000000;
    }

    .box.description-block1 code {
        font-family: 'Courier New', Courier, monospace;
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 2px 4px;
    }

    .description-block2 {
        position: relative;
        align-items: center;
        line-height: 1.0;
    }

    .Hint-block {
        line-height: 1.0;
        position: relative;
    }

    input[type="text"], textarea {
        width: 70%;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 20px;
        font-family: inherit;
    }

    .button-container {
        width: 100%;
    }

    .button-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .answer-button.giveup-button {
        width: 40%;
    }

    .giveup-button {
        width: 100%;
    }
</style>