@model HelloQuery.Models.UserLesson

@{
    Layout = "_LoggedInLayout";
    ViewData["Title"] = "詳細";
}

<h1>@Model.Lesson.Title</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            概要
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Lesson.Description)
        </dd>
        <dt class = "col-sm-2">
            問題
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Lesson.Question)
        </dd>
        <dt class = "col-sm-2">
            解答
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Lesson.Answer)
        </dd>
        <dt class="col-sm-2">
            解説
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Lesson.Reference)
        </dd>                     
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Lessons">レッスンに戻る</a> |
    <a asp-action="Index">苦手リスト一覧に戻る</a>
</div>
