@model IEnumerable<HelloQuery.Models.UserLesson>

@{
    Layout = "_LoggedInLayout";
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>苦手問題一覧</h1>

    <h4>苦手な問題はありません！この調子で頑張りましょう</h4>
</div>


@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lesson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lesson.LessonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserLessonId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserLessonId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserLessonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<style>
    h4{
        opacity: 0.4;
    }

</style>