@model HelloQuery.Models.User

@{
    Layout = "_LoggedInLayout";
    ViewData["Title"] = "Details";
}

<h1 class="text-center">マイページ</h1>

<div>
    <hr />

    <dl class="row">
        <div class="details">
            @Html.DisplayNameFor(model => model.UserName) :  @Html.DisplayFor(model => model.UserName)
        </div>

        <div class="details">
            @Html.DisplayNameFor(model => model.Email) :  @Html.DisplayFor(model => model.Email)
        </div>

        <div class="details">
            @Html.DisplayNameFor(model => model.Password) :  セキュリティ保護のためパスワードは表示できません@*@Html.DisplayFor(model => model.Password)*@
        </div>
    </dl>
</div>
<br />
<br />
<div class="text-center">
    <p><a asp-action="Edit" asp-route-id="@Model?.UserId" class="btn btn--cubic">編集</a></p>
    <p><a　asp-action ="Delete" class="btn btn--cubic">削除</a></p>
    <p><a href="https://localhost:7208/Lessons" class="btn btn--cubic">レッスンへ戻る</a></p>
</div>


<style>
    a{
        color: white;
        text-decoration: none;
    }

    h1 {
        line-height: 2.5;
    }

    .details {
        font-size:26px;
        line-height: 3.0;
        text-align: center;
    }

    .btn {
        width: 16rem;
		height: 2.7rem;
		font-size: 20px;
		background-color: #AA0000;
        color: white;
    }
</style>