@model HelloQuery.Models.User

@{
    Layout = "_LoggedInLayout";
    ViewData["Title"] = "Details";
}

<h1>アカウント情報</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model?.UserId">編集</a>
</div>
<div>
    <a asp-action="Index">戻る</a>
</div>


<style>
    a{
        color: white;
        text-decoration: none;
    }
</style>